.screen{
    width: 100%;
    height: 500px;
    border: 7px solid black;
    font-family: Verdana;
}
.nav{
    width: 100%;
    background-color: brown;
    height: 200px;
    display: flex;
}
.logo{
    color: white;
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 200px;
    
    color: white;
}
.icon{
    color: rgb(109, 171, 221);
    display: flex;
    align-items: center;
    width: 180px;
    margin-left: 50px;
    justify-content: space-evenly;
}
a.acttive,a:hover{
    background-color: goldenrod;
    transition: .5s;
    border-radius: 7px;
    height: 50px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbtn{
    color: white;
    float: right;
    cursor: pointer;
    display: none;
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}
#check{
    display: none;
}

@media(700px <= width <=1400px  ){
    .logo{
        font-size: 30px;
    }
    .checkbtn{
        display: none;
    }

}

@media(0px<= width <=699px){
    .checkbtn{
        display: flex;
    }
    .menu{
        position: fixed;
        width: 80%;
        height: 400px;
        background: green;
        top:200px;
        top: -100%;
        transition: all.5s;
    }
 
    li{
        display: block;        
        margin: 40px;        
        line-height: 50px;
    }
    a:hover,a.active{
        background: pink;
        color: black;
    }
    #check:checked ~menu{
        top:0;
    }
}