.scroll{
    height: 620px;
    background-color: palevioletred;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

 #Profile_page{
    overflow: hidden;
    overflow-y: scroll;
 }