.scroll{
    padding-top: 20px;
    overflow-y: scroll;
    overflow: hidden;
}


#KKK::-webkit-scrollbar{
    display: none;
}

.container{
    position: relative;
  }
  .container .image-container{
    display: flex;
    gap:14px;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .container .image-container image{
 
    overflow: hidden;
    cursor: pointer;
  }
  
  .container .image-container image img{
    height: 25px;
    width: 40px;
    object-fit: cover;
    transition: .2s linear;
  }
  
  .container .full-image{
    position: fixed;
    top:0; left: 0;
background: rgba(0, 0, 0, 0.425);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
  }
  
  .container .full-image span{
    position: absolute;
    top:0; right: 10px;
    font-size: 40px;
    color: #3BAEFA;
    cursor: pointer;
    z-index: 100;
  }
  
  .container .full-image   img{
    position: absolute;
    top: 50%; left:50%;
    transform: translate(-50%, -50%);
    width: 600px;
    object-fit: cover;
  }